# Azure SQL
SQL_SERVER=sql-pharmacy-k7ozzp.database.windows.net
SQL_DATABASE=inventorydb

# Local dev only — set to true to bypass Managed Identity
USE_SQL_LOGIN=true
SQL_USER=sqladmin
SQL_PASSWORD=password

# Service Bus
SERVICE_BUS_CONNECTION_STRING=<your-service-bus-connection-string>
SERVICE_BUS_QUEUE_NAME=replenishment-queue
