# Service Bus
SERVICE_BUS_CONNECTION_STRING=<your-service-bus-connection-string>
SERVICE_BUS_QUEUE_NAME=replenishment-queue

# Blob Storage
BLOB_CONNECTION_STRING=<your-blob-storage-connection-string>
BLOB_CONTAINER=replenishment-reports

# Azure SQL
SQL_SERVER=sql-pharmacy-k7ozzp.database.windows.net
SQL_DATABASE=inventorydb

# Local dev only
USE_SQL_LOGIN=true
SQL_USER=sqladmin
SQL_PASSWORD=<sqlpassword>
